@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Quicksand:wght@300;500;700&family=Roboto:wght@300;400&display=swap');

/* general */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

section {
  margin: 0;
  padding: 0;
}

/* common tags */
.subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.title-medium {
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #3D4F9F;
}

.title-large {
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.title-main {
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #3D4F9F;
  letter-spacing: normal;
}

.svg:hover {
  filter: invert(62%) sepia(69%) saturate(4338%) hue-rotate(203deg) brightness(93%) contrast(95%);
}

/* navigation */
.navigation {
  margin: 0 auto;
  margin-top: 19px;
  padding: 0;
  width: 1206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  margin-top: -1px;
  background: #5E81FE;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.menu__list {
  margin: 0;
  margin-left: 73px;
  padding: 0;
  width: 427px;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697CA6;
  text-shadow: 0px 0px 5px #E6E6E6;
}

.menu__item:hover {
  color: #5E81FE;
}

.navigation__social {
  margin: 0;
  margin-top: 5px;
  margin-left: 361px;
  padding: 0;
  width: 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__btn {
  margin-left: 44px;
  padding: 13px 15px;
  width: 113px;
  height: 43px;
  background: #D2E1FF;
  border-color: transparent;
  border-radius: 2px;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #3A79FF;
}

/* intro */
.intro {
  margin: 0 auto;
  margin-left: -3px;
  margin-top: 18px;
  padding-top: 81px;
  padding-bottom: 275px;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  border: 1px solid #D8E3FE;
}

.intro__subtitle {
  margin: 0 auto;
  margin-top: 10px;
}

.intro__title {
  margin: 0 auto;
  margin-top: 18px;
  margin-left: 5px;
}

.intro__text {
  margin: 0 auto;
  margin-top: 28px;
  width: 480px;
}

/* customers */
.customers {
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
  margin-bottom: -15px;
}

.customers__list {
  width: 888px;
  margin: 60px auto;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* app */
.app {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 216px;
  background: #F5F8FF;
  border: 1px solid #D8E3FE;
  background-image: url(./img/app__bg.png);
  background-position: 100% 120px;
  background-repeat: no-repeat;
}

.app__wrapper {
  width: 413px;
  margin-left: 271px;
  text-align: left;
}

.app__title {
  margin-top: 25px;
}

.app__text {
  width: 400px;
  margin-top: -5px;
}

.app__buttons-wrapper {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  width: 260px;
  display: flex;
}

.app__button {
  width: 130px;
  height: 43px;
  border: 1px solid #D1D1E4;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ADB4D2;
}

.app__button:hover {
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px;
  color: #FFFFFF;
}

/* about */
.about {
  margin: 0 auto;
  padding-top: 141px;
  padding-bottom: 171px;
  border-top: 1px solid #D8E3FE;
  position: relative;
}

.about__subtitle {
  margin-top: 30px;
}

.features {
  width: 761px;
  position: absolute;
  top: 312px;
  right: 340px;
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 140px;
}

.features__title {
  margin-top: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #4074F8;
}

.features__text {
  margin-top: 25px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 19px;
  color: #ADB3CB;
}

.about__buttons-wrapper {
  margin: 0 auto;
  margin-top: 438px;
  width: 337px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.about__button {
  width: 113px;
  height: 43px;
  border-radius: 2px;
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  border-color: transparent;
}

.about__button--more {
  background: #FFD7D7;
  color: #D43F3F;
}

.about__button--more:hover {
  filter: saturate(3);
}

.about__button--started {
  background: #D2E1FF;
  color: #3A79FF;
}

.about__text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: #ADB3CB;
  text-transform: uppercase;
}

/* stats */
.stats {
  display: flex;
  margin: 0;
  padding: 0;
}

.stats__item--first {
  margin: 0;
  width: 50%;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  color: #fff;
  text-align: right;
  padding-right: 90px;
}

.stats__item--second {
  margin: 0;
  width: 50%;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  color: #5E80FF;
  text-align: left;
  padding-left: 90px;
}

.stats__img {
  margin-top: 66px;
}

.stats__title {
  margin-top: 8px;
  margin-bottom: 0;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 78px;
}

.stats__text {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 45px;
  display: inline-block;
  width: 260px;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

/* blog */
.blog {
  background: #F5F8FF;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  padding-top: 104px;
  padding-bottom: 700px;
}

.slider {
  margin: 0;
  margin-top: -20px;
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider__item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  box-sizing: border-box;
}

.showing {
  opacity: 1;
  z-index: 2;
  animation: 1s linear 0s 1 normal move_eye;
}

@keyframes move_eye {
  0% {
    left: 15px;
  }

  50% {
    left: -15px;
  }

  100% {
    left: 0;
  }
}

.slider__arrow {
  width: 27px;
  height: 19px;
  background-color: transparent;
  position: absolute;
  top: 280px;
  border: none;
}

.slider__arrow:hover {
  cursor: pointer;
}

.slider__arrow--left {
  background-image: url(./img/arrow-left.svg);
  left: 140px;
}

.slider__arrow--right {
  background-image: url(./img/arrow-right.svg);
  right: 140px;
}

.slider__dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 578px;
  text-align: center;
}

.dots__item {
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #D1D6E3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots__item:hover,
.dots__item--active {
  background-color: #5283FF;
}

.blog__card {
  width: 958px;
  height: 394px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 92px;
  padding: 63px 35px;
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-sizing: border-box;
  box-shadow: 0px 15px 50px #EFF4FF;
}

.blog__images {
  width: 407px;
  height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__picture--large {
  width: 267px;
  height: 267px;
  position: relative;
}

.blog__picture--small {
  width: 126px;
  height: 126px;
  margin-left: 7px;
  position: relative;
}

.blog__picture:hover {
  cursor: pointer;
}

.blog__picture::before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 65px;
  height: 65px;
  background-image: url(./img/zoom.svg);
  opacity: 0;
  transition: opacity .5s ease;
}

.blog__picture:hover::before {
  opacity: 1;
}




.popup__wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  visibility: hidden;
}

.popup__wrapper--active {
  visibility: visible;
}

.popup__content {
  visibility: hidden;
  width: 1274px;
  max-width: 80%;
  height: 849px;
  max-height: 80%;
  background-color: #555;
  color: #fff;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  border: 10px solid #fff;
  box-shadow: 0px 15px 50px #D4DCF1;
}

.popup__content--active {
  visibility: visible;
  animation: fadeIn 1s
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.blog__post {
  width: 414px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.post__title {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #3D4F9F;
}

.post__text {
  width: 408px;
  margin-top: 30px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.post__buttons {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  width: 332px;
  display: flex;
  justify-content: space-between;
}

.btn__more {
  width: 113px;
  height: 43px;
  background: #D2E1FF;
  border-radius: 2px;
  border-color: transparent;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #3A79FF;
}

.btn__bookmark {
  width: 211px;
  height: 43px;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: transparent;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #A6B6DA;
}

/* quotes */
.quotes__text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 23px;
  color: #A4ABC8;
}

.review__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #676F95;
}

/* quotes */
.quotes {
  margin: 0;
  padding: 0;
  padding-left: 276px;
  padding-top: 110px;
  padding-bottom: 130px;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
}

.quotes__wrapper {
  width: 1165px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.quotes__info {
  width: 465px;
  text-align: left;
}

.quotes_subtitle {
  margin-top: 40px;
}

.quotes__text {
  width: 323px;
  margin-top: -10px;
  font-weight: 300;
}

.quotes__slider {
  margin: 0;
  padding: 0;
  width: 700px;
  display: flex;
  justify-content: flex-start;
}

.slick-list {
  height: 210px;
}

.slick-track {
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  width: 420px;
  height: 210px !important;
}

.slick-slide {
  width: 285px;
  transition: opacity 0.6s ease;
  opacity: 0.45;
}

.slick-current {
  opacity: 1;
}

.review {
  position: relative;
  margin: 0;
  margin-right: 64px;
  margin-bottom: 25px;
  padding: 26px 68px 0;
  width: 285px;
  height: 150px;
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-shadow: 0px 5px 50px #F3F5FA;
}

.review__text {
  width: 283px;
  text-align: left;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #676F95;
  padding-bottom: -20px;
}

.review__author {
  position: absolute;
  border-radius: 50%;
  top: 144px;
  left: 180px;
}

.slick-dots {
  left: -158px;
  bottom: -64px;
}

.slick-dots li {
  width: 10px;
  height: 8px;
}

.slick-dots li button::before {
  cursor: pointer;
  font-size: 0;
  width: 8px;
  height: 8px;
  margin: 0;
  background-color: #D1D6E3;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background-color: #5283FF;
  opacity: 1;
}

/* faq */
.faq {
  margin: 0;
  padding: 0;
  padding-top: 176px;
  padding-bottom: 160px;
}

.faq__wrapper {
  width: 743px;
  margin: 0 auto;
  padding: 0;
}

.faq_subtitle {
  margin: 0;
  padding: 0;
}

.faq__tabs {
  margin: 0;
  padding: 0;
  margin-top: 68px;
}

.tab {
  text-align: left;
  padding-bottom: 11px;
  border-bottom: 1px solid #D8E3FE;
}

.tab__title {
  position: relative;
  padding-left: 62px;
  padding-top: 15px;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #8E96B7;
}

.tab__title::before {
  content: '';
  position: absolute;
  background-image: url(./img/tab__logo--not-active.svg);
  width: 18px;
  height: 11px;
  top: 20px;
  left: 20px;
}

.active {
  color: #495274;
}

.active::before {
  background-image: url(./img/tab__logo--active.svg);
}

.tab__title:hover {
  cursor: pointer;
}

.tab__hidden {
  display: none;
  overflow: hidden;
}

.tab__content {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  margin-top: -5px;
  margin-left: 80px;
  justify-content: space-between;
  align-items: center;
  width: 648px;
}

.tab__text {
  width: 391px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  color: #8D96BD;
}

.tab__button {
  margin-top: -20px;
  width: 195px;
  height: 43px;
  background: #E8ECF4;
  border-radius: 2px;
  border-color: transparent;
  font-family: 'Quicksand', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #7382A3;
}

.tab__button:hover {
  filter: contrast(0.7);
}

/* start */
.start {
  margin: 0;
  margin-top: 17px;
  padding: 91px 0 40px;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.start__subtitle {
  color: #fff;
  margin: 0;
  padding: 0;
}

.start__title {
  color: #fff;
  margin: 0;
  margin-top: 20px;
}

.start__text {
  width: 712px;
  margin: 25px auto;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #fff;
}

.start__buttons-wrapper {
  margin: 50px auto;
  padding: 0;
  width: 284px;
  display: flex;
  justify-content: space-between;
}

.start__button {
  height: 43px;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.start__button--pricing {
  width: 130px;
  background: #fff;
  box-shadow: 0px 5px 15px #6480E8;
  border-radius: 2px;
  border-color: transparent;
  color: #565F82;
}

.start__button--documentation {
  width: 155px;
  background-color: transparent;
  border: 1px solid #A0B4FF;
  border-radius: 2px;
  color: #C7D3FF;
}

/* newsletter */
.newsletter {
  margin: 0;
  padding: 118px 0 108px;
  background: #FCFDFF;
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
}

.newsletter__wrapper {
  width: 887px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.newsletter__info {
  width: 330px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.newsletter__form {
  width: 487px;
  margin: 0;
  padding: 0;
}

.newsletter__title {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #3D4F9F;
}

.newsletter__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  color: #8D96BD;
}

.subscription__form {
  margin-top: 20px;
}

.subscription__input {
  width: 230px;
  height: 15px;
  padding: 21px 23px;
  background: #EFEFF7;
  border-radius: 5px;
  border-color: transparent;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #7A85AD;
}

.subscription__btn {
  width: 184px;
  height: 59px;
  margin-left: 10px;
  background: #4D6CE1;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-color: transparent;
  border-radius: 5px;
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

/* footer */
.page-footer {
  margin: 0;
  padding: 75px 0;
}

.copyright {
  text-align: left;
  margin-top: 30px;
  padding-left: 216px;
}

.copyright__text {
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #AEB8D0;
}